:root {
    --primary-color: #055a05;
    /* forest green */
    --accent1-color: #18292fd0;
    /* dark slate blue */
    --accent2-color: #e9c56aeb;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    background-color: rgb(28, 21, 9);
}

nav .navigation {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 1rem;
}

nav .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
}

.navigation a:hover {
    text-decoration: underline;
    transform: translateY(-2px);
}

#logo {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--heading-font);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}

.navigation li {
    flex: 1 1 auto;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    place-items: center;
    background-color: #f8f9fa;
    padding: 40px 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.history img {
    width: 300px;
    height: auto;
}

.history p {
    color: #1f1f1f;
    font-weight: 500;
    line-height: 1.2;
}

.history h2 {
    grid-column: 1/4;
    font-size: 2rem;
    color: var(--primary-color);
    text-shadow: none;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 10px;
    background-color: #f8f9fa;
    margin: 0 auto;
}

.adventure h2 {
    grid-column: 1/6;
    color: var(--primary-color);
    text-shadow: none;
    margin-bottom: 10px;
    font-size: 1.7rem;
}

.adventure img {
    width: 150px;
    height: auto;
    border-radius: 4px;
    margin: 0 0 10px 0;

}

.adventure figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.adventure figcaption {
    font-size: 1rem;
    color: #1f1f1f;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.7);

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    align-items: center;
    background-color: rgb(28, 21, 9);
    margin-top: 20px;
    justify-items: center;
    place-content: center;

}

.socialmedia {
    display: flex;
    margin-left: -40px;
}

.socialmedia a {
    flex: 1 1 auto;
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

footer p {
    grid-column: 1/4;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
    margin-left: 80px;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.95;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    width: 98%;
    background-color: var(--accent2-color);
    opacity: 1;
    bottom: 5px;
    left: 10px;
    margin: 0;

}

.hero article img {
    float: right;
    width: 125px;
}

.hero article p {
    color: #111111;
}

header img {
    margin: 5px;
}

/* css for contact page */

.address {
    text-align: center;
    margin: 10px;
}

.address h1 {
    color: #1f1f1f;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.7);
}

.contact-info {
    font-style: normal;
    color: #1f1f1f;
    font-weight: 600;
    margin-top: 10px;
}

.contact-info a {
    color: inherit;
    text-decoration: none;
}

.map-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0px;

}

.form {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
}

input,
textarea {
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 1.2px solid #423f3f;
    border-radius: 0.5rem;
}

input::placeholder,
textarea::placeholder {
    color: #555555;
    opacity: 1;
}

.radio {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-group label {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

}

.radio h2 {
    width: 80px;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    color: #1f1f1f;
}

.radio-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 60px;
}

.column1 input {
    margin-left: 35px;
    border: 1.2px solid #423f3f;
    border-radius: 4px;
    width: 200px;
}

.group.map iframe {
    border: 0;
    width: 450px;
    height: 350px;
    border-radius: 8px;
}

.change input {
    margin-left: 32px;
}

.form-item label {
    font-size: 14px;
    font-weight: bold;
}

.column2 textarea {
    width: 280px;
}

.column3 {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: -25px;
}

.column3 label {
    font-size: 12px;
    font-weight: bold;
}

.form button {
    font-size: 1rem;
    font-weight: bold;
    border: 1.2px solid #423f3f;
    border-radius: 4px;
    width: 285px;
    background-color: #1e3a8a;
    color: #ffffff;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 10px;
    background-color: #eee;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.profile h3 {
    grid-column: 1/4;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: #006400;
}

.profile img {
    width: 150px;
    height: auto;
    border-radius: 4px;
    margin: 0 0 10px 0;
}

.profile figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.profile figcaption {
    font-size: 1rem;
    color: #1f1f1f;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.7);
}