table {
    margin: 0 auto;
    border: 2px solid rgb(140 140 140);
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

th,
td:hover {
    background-color: #11111111
}

thead tr,
tfoot tr {

    background-color: rgb(0 0 0);
    color: white;
    font-weight: 700;
}