:root {
    --main-image-width: 150px;
    --main-box-shadow: 0 0 30px gray;
    --aside-background-color: #eee;
    --nav-anchor-color: white;

}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--aside-background-color);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: var(--nav-anchor-color);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;

}

main img {

    width: var(--main-image-width);
    height: auto;
    border: 1px solid black;
    padding: 1px;
    box-shadow: var(--main-box-shadow);
}

p {

    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}